#####################################################################################################################
#
# Tabular configuration file setting: This file is used to configure data display in Register Panel tabs,
# and execution behavior of Register Panel.
#
# There are two parts for setting tabular and SVD file.
# 1. Property Setting: Define with <Property.KeyVariable> = <value>
# 2. Data Source Setting: Define with <Reserved Column Name> = <Data Source>
#
# The content is case sensitive except boolean type
#
# Certain <KeyVariable> is keyword that can not be modified and must exist.
# Reserved Property Keywords  are:
# ================================
#   - Property.ColumnNameSequence                  = Separated by ',' and it defines column sequence. Use "||" if one column is shared by more than one data source
#                                                       For Example , <RegGroupName>, <RegisterName> is in the same column.
#                                                       ColumnNameSequence = RegGroupName || RegisterName, <other column>, <other column>, ...
#   - Property.ColumnHeaderSequence                = Separated by ',' and the number of elements must be the same as number of ColumnNameSequence
#   - Property.RootLevel                           = Data source to be used as Root level in KTable
#   - Property.SubRegisterLevel                    = Data source to be used as Sub level in KTable (Child of Root Level)
#   - Property.SubRegisterChildLevel               = Data source to be used as Child of Sub Level in KTable
#
#                                                    For Example , if user wants to create treetable as below
#                                                    ------------------------------------------------------------------------------------------------------------------
#                                                    | Col1 Header      | Col2 Header      | Col3 Header     | Col4 Header    | Description                           |
#                                                    ------------------------------------------------------------------------------------------------------------------
#                                                    | V RegGroupName   |                  |                 |                |                                       |
#                                                    |   V RegisterName |                  |                 |                |                                       |
#                                                    |                  | BitName          | BitLoc          | BitData        | Description                           |
#
#                                                    Property.ColumnNameSequence    = RegGroupName || RegisterName, BitName, BitLoc, BitData, Description
#                                                    Property.ColumnHeaderSequence  = col1 Header, Col2 Header, Col3 Header, Col4 Header, Description
#                                                    Property.RootLevel             = RegGroupName
#                                                    Property.SubRegisterLevel      = RegisterName
#                                                    Property.SubRegisterChildLevel = BitName
#
#   - Property.SourceDataFileFormat                = Data source file format. Supported format are: "xml" (SVD) and "csv"
#   - Property.EditableColumn                      = List of editable column, can be more than one, separated with comma ","
#   - Property.TriggerSetupAndBuild                = Property to control Register Panel execution behavior, if set to true, setup() TestMethod block will be execution on every run.
#   - Property.FullyQualifiedNameOfWriteTestSuite  = Test Suite name to be called through DD-API, to execute TestMethod programmed for Protocol Aware write action
#   - Property.FullyQualifiedNameOfReadTestSuite   = Test Suite name to be called through DD-API, to execute TestMethod programmed for Protocol Aware read action
#   - Property.JoinRegisterCommandsAsSingleString  = This is reserve property, will be used in the future
#
# Reserved Data Source Parameters:
# ================================
#    - Protocol        = Protocol Name in String type, or taken from SVD/CSV
#    - AddressSize     = [Optional] Integer value is retrieved from SVD
#    - DataSize        = [Optional] Integer value, or the value is retrieved from SVD
#    - Address         = Hexadecimal String or taken from SVD/CSV.  It supports '+','-'.
#                           For Example : Sometimes Address needs to be constructed  based on AddressBase + AddressOffset. Definition in configuration file will be:
#                           Address = AddressBase + AddressOffset
#    - RegGroupName    = Value is retrieved from SVD/CSV
#    - RegisterName    = Value is retrieved from SVD/CSV
#    - BitName         = Value is retrieved from SVD
#    - BitLoc          = Value is retrieved from SVD. The format should be [n:m]
#    - BitData         = Value is retrieved from SVD/CSV
#    - Description     = Value is retrieved from SVD/CSV
#    - ReadBackData    = none
#    - Reset           = Value is retrieved from SVD/CSV
#    - Mask            = Value is retrieved from SVD
#    - Access          = [Optional] Define read/write behavior of register (read-only, write-only, read-write)
#
# Column Definition for CSV file:
# ===============================
# Example columns of CSV file:
# Register Name, Address, Data, Description
#
# Address is second column in the CSV example above, for mapping into Register Panel GUI, user may define:
# Address = Col.1 #Index start from 0
#      OR
# Address = Col.B #Index start from A
#
#####################################################################################################################
Property.ColumnNameSequence 	     	     = RegGroupName||RegisterName, BitName, BitLoc, BitData, ReadBackData, Address, Mask, Access, Reset, Description
Property.ColumnHeaderSequence	    	     = Register Name, Bit Name, Bit Loc, Data, Read Back Data, Address, Mask, Read-Write, Reset Data, Description
Property.RootLevel		     	    		 = RegGroupName
Property.SubRegisterLevel	     	   	 	 = RegisterName
Property.SubRegisterChildLevel	     	     = BitName
Property.SourceDataFileFormat	     	     = xml		# xml or csv
Property.EditableColumn               	     = BitData	# separate it with comma. Default:BitData
Property.TriggerSetupAndBuild         	     = false    # Default: false
Property.FullyQualifiedNameOfWriteTestSuite  = CustomizedRegisterPanelFlow.PARALLEL_LOOPBACK_write
Property.FullyQualifiedNameOfReadTestSuite   = CustomizedRegisterPanelFlow.PARALLEL_LOOPBACK_read
Property.JoinRegisterCommandsAsSingleString  = false 	# Default: false

#---------------------------------------------------
Protocol                 =  device >> peripherals >> peripheral >> protocol
AddressSize              =  device >> peripherals >> peripheral >> size #optional
DataSize                 =  device >> peripherals >> peripheral >> registers >> register >> size #optional
AddressBase              =  device >> peripherals >> peripheral >> baseAddress
AddressOffset            =  device >> peripherals >> peripheral >> registers >> register >> addressOffset
Address                  =  AddressBase + AddressOffset
RegGroupName             =  device >> peripherals >> peripheral >> name
RegisterName             =  device >> peripherals >> peripheral >> registers >> register >> name
BitName                  =  device >> peripherals >> peripheral >> registers >> register >> fields >> field >> name
BitLoc                   =  device >> peripherals >> peripheral >> registers >> register >> fields >> field >> bitRange
BitData.comboValue       =  device >> peripherals >> peripheral >> registers >> register >> fields >> field >> enumeratedValues >> enumeratedValue >> value
BitData.comboDescription =  device >> peripherals >> peripheral >> registers >> register >> fields >> field >> enumeratedValues >> enumeratedValue >> name
ReadBackData             =  none
Reset                    =  device >> peripherals >> peripheral >> registers >> register >> resetValue
Mask                     =  device >> peripherals >> peripheral >> registers >> register >> resetMask
Access                   =  device >> peripherals >> peripheral >> registers >> register >> fields >> field >> access ||
                            device >> peripherals >> peripheral >> registers >> register >> access
Description              =  device >> peripherals >> peripheral >> description ||
                            device >> peripherals >> peripheral >> registers >> register >> description ||
                            device >> peripherals >> peripheral >> registers >> register >> fields >> field >> description ||
                            device >> peripherals >> peripheral >> registers >> register >> fields >> field >> enumeratedvalues >> enumeratedValue >> description
